@media (min-width: 1200px) {
   .home-pad{
      padding: 0px 10%;
   }
  .categ-pad{
   padding: 0px 8%;
   }
    /* HEADER */
    .navbar > li > a  {      
      font-size: 1vw;    
   }
   .nav-li-pad {
      margin-left: 1rem;
  }
   .navbar>li>a:hover{      
      padding-bottom: 4%;      
  }
   .logo{        
      padding-left: 10%;
   }
   .icon-pad{
      padding-right: 10%;
   }
   /* TAMAÑO DE ICONOS SEPARADORES */
.botella-lateral{
   width: 14% ;
}
.botella-medio{
   width: 18%;
}
.corchos{
   width: 8%;
}
.saca-corchos{
   width: 22%;
}
.copas-lateral {
   width: 16%;
}
.copas-medio {
   width: 22%;
}
.damajuana{
   width: 12%;
}
   /* LISTA DE PRODUCTOS SEGUN CATEGORIA */
   .section-filter-prod {
      grid-template-columns: 1fr 4fr;
   }
  
}
      
