<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>   
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    
    <main class="main-pad ">                
        <section class="section-filter-prod home-pad">
            <!-- FILTROS -->
            <div class="filter-section">
                <div class="categ-left-section">                  
                    <%- include('./partials/filtros') %>
                </div>
            </div>        

            <!-- SECTION DONDE SE MUESTRAN LAS CARDS DE LOS PRODUCTOS -->
            <div class="tarjetas">                
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/tatu2.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Tatu Malbec</p>
                            <p>$2000</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>            
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <div>
                            <img src="images/vinos/STELLA_CRINITA_FRANC.png" alt="" srcset="" class="tarjeta-imagen">
                        </div>
                        <div class="contenido-tarjeta">
                            <p>Stela Crinita Cabernet Franc</p>
                            <p>$3000</p>
                        </div>
                        <div class="boton-tarjeta">
                            Agregar
                        </div>
                    </a>                           
                </div>
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/alma negra rose espumante.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Alma Negra Rosé Espumante</p>
                            <p>$2500</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>                           
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/alma negra tinto.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Alma Negra Tinto</p>
                            <p>$2600</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>                           
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/amici miei.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Amici Miei</p>
                            <p>$2300</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>                         
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/mara pinot.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Mara Pinot Noir</p>
                            <p>$1800</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>                           
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/catena chardonay.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Catena Chardonnay</p>
                            <p>$3000</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div> 
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/tikal jubilo2.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Tikal Jubilo</p>
                            <p>$3000</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>           
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/tikal amorio.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Tikal Amorio</p>
                            <p>$3000</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>           
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/traslapiedra.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Traslapiedra</p>
                            <p>$3000</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>           
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/jardin enchante rosado.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Jardín Enchanté Rosado</p>
                            <p>$3000</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>           
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/padrillos pinot.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Padrillos Pinto Noir</p>
                            <p>$3000</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>           
                <div class="tarjeta">
                    <a href="/detalleProducto">
                        <img src="images/vinos/condeminal malbec.png" alt="" srcset="" class="tarjeta-imagen">
                        <div class="contenido-tarjeta">
                            <p>Condeminal Malbec</p>
                            <p>$3000</p>
                        </div>
                        <div class="boton-tarjeta">Agregar</div>
                    </a>
                </div>                                     
            </div>             
        </section>
    </main> 
    <!-- FOOTER -->
    <footer class="footer-contenedor">
        <%- include('./partials/footer') %> 
    </footer>   
       
    <!-- BOOTSTRAP ENDING LINE -->
    <script src="js/hamburguer.js"></script>

    <!-- FILTRO DE PRECIO JS -->
    <script src="js/filtroPrecio.js"></script>
    
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous">
    </script>
</body>
</html>