<div class="categorias-flex categ-pad">
    <div class="cat-item">
        <a href="/listaProductos">
            <img src="images/categorias/vinos.png" alt="" srcset="">
            <a href="/listaProductos">
                <div class="cat-name">
                    Vinos
                </div>
            </a>
        </a>
    </div>
    <div class="cat-item">
        <a href="/listaProductos">
            <img src="images/categorias/espumantes.png" alt="" srcset="">
            <a href="/listaProductos">
                <div class="cat-name">
                    Espumantes
                </div>
            </a>
        </a>
    </div>
    <div class="cat-item ">
        <a href="/listaProductos">
            <img src="images/categorias/bermut.png" alt="" srcset="">
            <a href="/listaProductos">
                <div class="cat-name">
                    Vermouths                    
                </div>
            </a>
        </a>
    </div>
    <div class="cat-item"> 
        <a href="/listaProductos">
            <img src="images/categorias/destacados.png" alt="" srcset="">
            <a href="/listaProductos">
                <div class="cat-name">
                    Destacados
                </div>
            </a>
        </a>
    </div>
    <div class="cat-item">
       <a href="/listaProductos">
           <img src="images/categorias/ofertas.png" alt="" srcset="">
           <a href="/listaProductos">
                <div class="cat-name">
                   Ofertas
                </div>
            </a>
       </a>
    </div>
</div>