<div class="categorias-flex categ-pad">
    <div class="cat-item">
        <img src="images/categorias/vinos.png" alt="" srcset="">
        <div class="cat-name">
            <a href="/listaProductos">
                Vinos
            </a>
        </div>
    </div>
    <div class="cat-item">
        <img src="images/categorias/espumantes.png" alt="" srcset="">
        <div class="cat-name">
            <a href="/listaProductos">
                Espumantes
            </a>
        </div>
    </div>
    <div class="cat-item ">
        <img src="images/categorias/bermut.png" alt="" srcset="">
        <div class="cat-name">
            <a href="/listaProductos">
                Vermouths
            </a>
        </div>
    </div>
    <div class="cat-item"> 
        <img src="images/categorias/destacados.png" alt="" srcset="">
        <div class="cat-name">
            <a href="/listaProductos">
                Destacados
            </a>
        </div>
    </div>
    <div class="cat-item">
        <img src="images/categorias/ofertas.png" alt="" srcset="">
        <div class="cat-name">
            <a href="/listaProductos">
                Ofertas
            </a>
        </div>
    </div>

</div>