<div class="container-fluid mt-5 ">
    <div class="row ">
        <div class="owl-carousel owl-theme ">
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/tatu2.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Tatu Malbec</p>
                        <p>$2000</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div> 
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/tikal amorio.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Taikal Amorio</p>
                        <p>$3000</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/traslapiedra.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Traslapiedra</p>
                        <p>$2500</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/siesta.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Siesta</p>
                        <p>$2000</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/padrillos pinot.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Padrillos Pinot Noir</p>
                        <p>$1400</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/nicasia blanc de blanc.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Nicasia Blanc de Blanc</p>
                        <p>$2800</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/hippie-love.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Hippie Love</p>
                        <p>$2900</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/el reitro2.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>El Retiro</p>
                        <p>$4000</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/condeminal malbec.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Condeminal Malbec</p>
                        <p>$4500</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/jardin enchante rosado.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Jardin Enchanté Rosado</p>
                        <p>$5000</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                      
            <div class="item">                       
                <div>
                    <a href="/detalleProducto">
                        <img src="images/vinos/amici miei.png" alt="" srcset="" class="tarjeta-imagen">
                    </a>
                </div>
                <div class="contenido-tarjeta">                                
                    <a href="/detalleProducto">
                        <p>Amici Miei</p>
                        <p>$4000</p>
                    </a>
                </div>
                <div class="boton-tarjeta">
                    <a href="/detalleProducto">
                        Agregar
                    </a>
                </div>                              
            </div>                                                                            
        </div>
    </div>
</div>           

