<div class="footer-about">
    <div class="mrg-bt-1">
        <a href="/" class="bold ">           
            VINO DE CANUTO            
        </a>
    </div>
    <div class="mrg-bt-1">
        <a href="/about">
            <div>
                About 
            </div>
        </a>
    </div>
    <div>
        <a href="images/carta/cartaCanuto.pdf" target="_blank" rel="noopener noreferrer">
            <div>
                Nuestra Carta
            </div>
        </a>
    </div>
</div>
<div class="flex flex-column footer-contacto">        
    <div class="bold mrg-bt-1">                
        CONTÁCTANOS                          
    </div>
    <div class="flex align-items-center mrg-bt-1">
        <a href="https://wa.me/1123847448?text=Hola%20quisiera%20informacion%20para%20realizar%20una%20compra" target="_blank" rel="noopener noreferrer" class="mrg-rg-1">
            <img src="images/icons/whatsapp.svg" alt="" srcset=""> 
        </a>
        <a href="https://wa.me/1123847448?text=Hola%20quisiera%20informacion%20para%20realizar%20una%20compra" target="_blank" rel="noopener noreferrer"">
            <div>
                1123847448
            </div>
        </a>   
    </div>
    <div class="flex align-items-center">
        <a href="mailto:vinodecanuto@gmail.com" class="mrg-rg-1">
            <img src="images/icons/mail.svg" alt="">
        </a>
        <a href="mailto:vinodecanuto@gmail.com" >
            <div>
                vinodecanuto@gmail.com
            </div>
        </a>
    </div>
</div>
<div class="flex flex-column footer-redes">
    <div class="bold mrg-bt-1">                
        NUESTRAS REDES                
    </div>
    <div class="flex align-items-center mrg-bt-1">
        <a href="https://www.facebook.com/profile.php?id=100068626042497" target="_blank" rel="noopener noreferrer" class="mrg-rg-1">
            <img src="images/icons/facebook.svg" alt="">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100068626042497" target="_blank" rel="noopener noreferrer">
            <div>
                vino de canuto
            </div>
        </a>
    </div>  
    <div class="flex align-items-center">
        <a href="https://www.instagram.com/vinodecanuto/" target="_blank" rel="noopener noreferrer" class="mrg-rg-1">
            <img src="images/icons/instagram.svg" alt="">
        </a>
        <a href="https://www.instagram.com/vinodecanuto/" target="_blank" rel="noopener noreferrer">
          <div>
              @vinodecanuto
          </div>
        </a>         
    </div>       
</div>